<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template :: head}">
</head>
<body>
	<header th:replace="~{template/template :: header}"></header>	
	<div class="container text-center py-3">
		<div class="panel bg-light">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span th:text="${error}"></span> - <span th:text="${status}"></span>
				</h3>
			</div>
			<div class="panel-body">
				<br>
				<h4>La página solicitada no existe!</h4>
				<br>
				<button class="btn btn-info" onclick="goBack()">Volver a la Página Anterior</button>
			</div>
			
		</div>
	</div>
	
	<footer th:replace="~{template/template :: footer}"></footer>
	
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	
</body>
</html>
