<!DOCTYPE html>
<!-- TEMPLATE PAGE -->


<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Gestión Sucursales</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!--NAVIGATION BAR-->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- MENU LINKS -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}" href="#">Inicio 
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" th:href="@{/sucursal}" href="#" id="navbarDropdownMenuLink"
					 	  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sucursales</a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/sucursal}" href="#">Ver Sucursales</a>
								<a class="dropdown-item" href="#">Buscar Sucursal</a>
								<a class="dropdown-item" th:href="@{/sucursal/add}" href="#">Agregar Sucursal</a>	
								<a class="dropdown-item" href="#">Editar Sucursal</a>	
								<a class="dropdown-item" href="#">Eliminar Sucursal</a>	
								
								
								
						</div></li>
				</ul>
				
			</div>
		</nav>
		
		<!-- FEEDBACK USER -->

		<div class="alert alert-success alert-dismissable"
			th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-danger alert-dismissable"
			th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable"
			th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable"
			th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

	</header>

	<!-- CONTENT -->
	<div class="container"></div>

	<!-- FOOTER -->
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
	<div class="container">
	<p> Guido Janota 2023</p>
	</div>

		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</footer>

</body>
</html>